SERVER_PORT=8081

DATABASE_URL=jdbc:postgresql://host/database?sslmode=require
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password

HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=false
HIBERNATE_SQL_LOG_LEVEL=INFO

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAIL_HOST=your_mail_host
MAIL_PORT=587
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_FROM=your_from_address

OPENAI_API_KEY=your_openai_api_key
